
@{
    ViewBag.Title = "Contact";
    Layout = null;
}
@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/Navigation.css">
<link href="~/Content/RegisterStyle.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Navigation.css" rel="stylesheet" id="bootstrap-css">


<div style="display:inline-block; margin-top:0px; height:120%; width:100%;">
    <div id="navigation" class="naviga">
        <p class="bodo">Bodonate Anasayfa </p>
        <p class="carbon">&#64;CarbonSoft</p>
        <div class="nav1">
            <div class="home">@Html.ActionLink("Anasayfa", "Index", "Bodonate", User, new { @class = "home" })</div>
            <div class="home">@Html.ActionLink("Kayıt", "UserRegister", "Bodonate", new { }, new { @class = "home" })</div>
            <div class="home">@Html.ActionLink("İletişim", "Contact", "Bodonate", new { }, new { @class = "home" })</div>
        </div>
    </div>

    <div class=" " style=" width:90%; height:10%; margin-left:10%; margin-top:10%; color:white; font-style:normal; font-size:30px; ">
        Sorularınız, merak ettikleriniz ve geri bildirimleriniz için lütfen bize ulaşınız...
    </div>
    <div class="main main-agilerow" style=" width:30%; height:10%; margin-left:10%; margin-top:5%; color:white; font-style:normal; font-size:large; padding-top:2px; ">
        Sevgi DURGUN
        <br>
        <br>
        <a href="https://www.google.com/gmail/" style="color:white; font-style:oblique; font-size:x-large; padding-top:2px; ">
            sdurgun82@gmail.com
        </a>
    </div>
    <div class="main main-agilerow" style=" width:30%; height:10%; margin-left:10%; margin-top:0%; color:white; font-style:normal; font-size:large; padding-top:2px; ">
        Kevser BAL
        <br>
        <br>
        <a href="https://www.google.com/gmail/" style="color:white; font-style:oblique; font-size:x-large; padding-top:2px; ">
            kevserbal123@gmail.com
        </a>
    </div>




</div>