@model Bodonate.Web.Views.ViewModels.BookModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Book</h2>

@using (Html.BeginForm("Save", "Bodonate", FormMethod.Post))
{




}

